.container {
  display: flex;
  flex-direction: column;
    /*
  flex-direction: column-reverse;
  flex-diirection: row;
  flex-direction: row-reverse;

  justify-content: flex-start;
  justify-content: flex-end;
  justify-content: center;
  justify-content: space-between;
  justify-content: space-around;
  justify-content: space-evenly;
  */
}

.item {
  padding: 12px;
}

.item:nth-child(1) {
  border: #0000;
}

.item:nth-child(2) {
  border: 1px solid;
}

.item:nth-child(3) {
  border: 1px solid;
}

.item:nth-child(4) {
  border: 1px solid;
}

.item:nth-child(5) {
  border: 1px solid;
}

.item:nth-child(6) {
  border: 1px solid;
}

.item:nth-child(7) {
  border: 1px solid;
}

.item:nth-child(8) {
  border: 1px solid;
}

.item:nth-child(9) {
  border: 1px solid;
}

.item:nth-child(10) {
  border: 1px solid black;
}
